.banner {
    background-image: url(../../assets/img/photo.jpg);
    background-repeat: repeat;
    height: 800px;
    border-bottom: 10px solid #000;
    padding-top: 60px;
    padding-left: 45px;
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 630px;
}

.banner .box {
    margin-bottom: 40px;
}

.banner .navigation {
    display: flex;
    justify-content: space-around;
}