.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#5D6ACA;
    border-bottom: 10px solid #000;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;    
}
.header .navigation {
    text-align: right;
}